body {
    display: grid;
    grid-template-areas:
            "aside header"
            "aside main";
    grid-template-columns: auto 1fr;
}


.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}


.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.secao-horizontal .cartao__imagem {
    grid-column: 1/2;
    grid-row: 1/4;
}

.secao-horizontal .cartao__botao {
    /*grid-column: 3/4;
    grid-row: 1/4;*/
    grid-area: 1/4/3/4;
}