body {
    display: grid;
    grid-template-areas:
            "aside header"
            "aside main";
    grid-template-columns: auto 1fr;
}


.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}

.secao {
    display: grid;
    align-items: center;
}

/*Seção horizontal*/

.secao-horizontal {
    grid-template-rows: 120px auto;
}

.secao-horizontal .secao__cartoes {
    --quantidade-maxima-colunas: 3;
    --min-largura-maxima-coluna: 348px;
}

.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem {
    grid-column: 1/2;
    grid-row: 1/4;
}

.secao-horizontal .cartao__botao {
    /*grid-column: 3/4;
    grid-row: 1/4;*/
    grid-area: 1/3/4/4;
}

.secao-horizontal .cartao__titulo {
    align-self: end;
}

/*Seção vertical*/

.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao-vertical .secao__cartoes {
    grid-column: 1/3;
    --quantidade-maxima-colunas: 6;
    --min-largura-maxima-coluna: 165px;
}

.secao-vertical .cartao {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.secao__cartoes {
    display: grid;
    --gap-coluna: 1.25rem;
    grid-gap: 1rem var(--gap-coluna);
    --gap-proporcional: var(--gap-coluna) * (var(--quantidade-maxima-colunas)-1) / var(--quantidade-maxima-colunas);

    /*Largura minima da coluna*/
    --largura-minima-coluna: 100%/2 - var(--gap-proporcional);

    /*Largura máxima da coluna*/
    --max-largura-maxima-coluna: 100%/var(--quantidade-maxima-colunas);
    --largura-maxima-coluna: max(var(--min-largura-maxima-coluna), var(--max-largura-maxima-coluna) - var(--gap-proporcional));

    --minimo: min(var(--largura-minima-coluna), var(--largura-maxima-coluna));

    grid-template-columns: repeat(auto-fit,
    minmax(
            var(--minimo), 1fr
        )
    );
}


/*Menu*/
.menu-lateral {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    row-gap: 2rem;
}

.menu-lateral__logo {
    justify-self: center;
}

/*Navbar*/
.navbar__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Rodapé*/
.rodape {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: auto 2fr auto 1fr repeat(3, auto) 1fr auto 1.5fr repeat(2, auto);
    align-items: center;
    column-gap: 0.5rem;
}

.rodape__imagem {
    grid-row: 1/3;
}

.rodape__subtitulo, .rodape__horario--inicio, .barra__container--reproducao, .rodape__botao--volume-down, .rodape__horario--termino, .barra__container--volume, .rodape__botao--volume-up  {
    grid-row: 2/3;
}

.rodape__botao--voltar {
    grid-column: 4/5;
}

.barra__container--reproducao {
    grid-column: 4/9;
}

.rodape__botao--voltar {
    grid-column: 4/5;
    justify-self: end;
}

.rodape__botao--proximo {
    justify-self: left;
}

.rodape__botao--volume-down {
    justify-self: end;
}